.parent{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
}
li{list-style-type:none;}
a{text-decoration: none;
align-items: center;
background-color: 2px silod grey;
border-radius: 18px;}
a:hover{background-color: rgb(153, 151, 151);
}
.link{display: flex;
gap: 20px;
align-items: center;
margin-right: 20px;}
.go{display: flex;
justify-content: space-between;}
.box{display: flex;
    justify-content: space-between;}
